---
import Layout from '../layouts/Layout.astro';
import HammingDistance from '../components/HammingDistance.astro';
---

<Layout title="Distancia Hamming">
    <h1 class="text-5xl text-gradient py-5 my-5">Distancia Hamming</h1>
    <section class="max-w-4xl mx-auto text-start">
        <p class="text-white ">
            La distancia Hamming se define como la <strong class="text-indigo-300">cantidad de bits</strong>
            que tienen que cambiarse para transformar una palabra de <strong class="text-indigo-300">código válida</strong>
            a otra palabra de <strong class="text-indigo-300">código válida</strong>
        </p>
        <p class="text-white ">
            Cuanto mayor sea la distancia de Hamming, menor es la posibilidad de que un <strong class="text-indigo-300">código válida</strong> se transforme en otro <strong class="text-indigo-300">código válida</strong>
        </p>
        <section class="py-4">
            <HammingDistance client:load/>
        </section> 
        <article>
            <h3 class="text-5xl text-gradient py-5">Propiedades</h3>
            <ul>
                <li class="text-white ">Para corregir <strong class="text-indigo-300">C errores </strong> es necesario un código de distancia hamming de al menos <strong class="text-indigo-300">H=2C+1</strong></li>
                <li class="text-white">Con una <strong class="text-indigo-300">Distancia Hamming "H"</strong> dada se pueden corregir <strong class="text-indigo-300">C=(H-1)/2</strong></li>
                <li class="text-white">La minima distancia de un código está dada por <strong class="text-indigo-300">H-1 = D+C</strong></li>
            </ul>
        </article>
    </section>
</Layout>