---
import Layout from "../layouts/Layout.astro";
import Demo from "../components/Demo.astro";
---

<Layout title="Demostración Hamming">
  <h1 class="text-5xl text-gradient py-5">Demostración</h1>
  <Demo client:load />
</Layout>
