---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ventajas">
  <h1 class="text-5xl text-gradient py-5">Ventajas</h1>
  <section class="flex justify-center">
    <ol class="text-white">
      <li>Este algoritmo es de detección y correción de errores, utilizarlo nos permite tanto detectarlos como corregirlos si se dan las condiciones.</li>
      <li></li>
    </ol>
  </section>
</Layout>
